# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Dependency directories
node_modules/
/jspm_packages/

# TypeScript v1 declaration files
typings/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# Output of 'npm pack'
*.tgz

# Yarn Workspace Hack
.yarn-integrity

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# next.js
/.next/
/out/

# nuxt.js
/.nuxt/
/dist/

# vuepress
/.vuepress/dist

# Serverless directories
.serverless/

# FuseBox
.fusebox/

# DynamoDB Local files
.dynamodb/

# TernJS port file
.tern-port

# Stores VS Code state extensions
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/launch.json

# Tauri
src-tauri/target
src-tauri/gen
dist
dist-isolation
*.d.ts

# OS metadata
.DS_Store
Thumbs.db
